<app-navbar></app-navbar>
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">HOŞ GELDİNİZ</h5>
                  <p class="text-center small">Kullanıcı adınızı ve şifrenizi giriniz...</p>
                </div>

                <form class="row g-3 needs-validation" novalidate>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Kullanıcı Adı:</label>
                    <div class="input-group has-validation">
                      <input [(ngModel)]="loginRequest.userName" [ngModelOptions]="{standalone: true}" name="Username" type="text"
                      class="form-control" placeholder="Kullanıcı Adı...">
                      <div class="invalid-feedback">Lütfen Kullanıcı Adınızı giriniz!</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Şifre:</label>
                    <input [(ngModel)]="loginRequest.password" [ngModelOptions]="{standalone: true}" name="Password"
                    type="password" class="form-control" placeholder="Şifre...">
                    <div class="invalid-feedback">Lütfen Şifrenizi giriniz!</div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" (click)="login()">Giriş Yap</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main>
<!-- End #main -->
<app-footer></app-footer>
