<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1>ELPE Group</h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="/home">Ana Sayfa</a></li>
          <li><a routerLink="/about">Hakkımızda</a></li>
          <li><a routerLink="/contact">İletişim</a></li>
          <li><a class="get-a-quote" routerLink="/login">Portal Giriş</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->