<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>ELPE Group</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Linkler</h4>
          <ul>
            <li><a routerLink="home">Ana Sayfa</a></li>
            <li><a routerLink="about">Hakkımızda</a></li>
            <li><a routerLink="contact">İletişim</a></li>
            <li><a routerLink="login">Portal Giriş</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Hizmetlerimiz</h4>
          <ul>
            <li><a href="">Web Tasarımı</a></li>
            <li><a href="">Web Geliştirme</a></li>
            <li><a href="">İş Geliştirme</a></li>
            <li><a href="">İş Analistliği</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>İletişim</h4>
          <p>
            Samsun, 55000 <br>
            Türkiye<br><br>
            <strong>Telefon:</strong> +1 5589 55488 55<br>
            <strong>Mail:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; 2023 <strong><span>ELPE</span></strong>. Tüm hakları saklıdır.
      </div>
      
    </div>

  </footer><!-- End Footer -->