<br><br><br><br>
<div class="row">
  <div class="col-xxl-12 d-flex">
    <div class="card border-1 p-1 flex-fill w-100">
      <div class="card-header border-0 card-header-space-between">
        <h2 class="card-header-title h4 text-secondary">İşlemler </h2>
      </div>
      <div class="table-responsive">
        <table
          id="projectsTable"
          class="table align-middle table-edge table-nowrap mb-0">
          <thead class="thead-light">
            <tr>
              <th class="user-cell">ID</th>
              <th class="title-cell">Miktar</th>
              <th class="description-cell">Kimden</th>
              <th class="description-cell">Kime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td class="text-muted col-1">{{ transaction.id }}</td>
              <td class="text-muted col-2">{{ transaction.amount }}</td>
              <td class="text-muted col-2">{{ transaction.fromAccountId }}</td>
              <td class="text-muted col-2">{{ transaction.toAccountId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
